In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from hdbscan import HDBSCAN

In [2]:
file_path = "AB_NYC_2019.csv"
df = pd.read_csv(file_path)
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [11]:
df = df[['latitude','longitude']]
df = df.dropna()

In [12]:
X = StandardScaler().fit_transform(df)

In [13]:
hdbs = HDBSCAN(min_samples=None,min_cluster_size=3,metric='euclidean')

In [14]:
df['cluster'] = hdbs.fit_predict(X)

In [15]:
df['cluster'].value_counts()

cluster
-1       13107
 1099      116
 2788      116
 1056       76
 862        64
         ...
 154         3
 1400        3
 1270        3
 1396        3
 306         3
Name: count, Length: 3129, dtype: int64